<nav class="nav-container">
  <button mat-icon-button aria-label="Menu" (click)="goBack()">
    <mat-icon>west</mat-icon>
  </button>
  <button mat-icon-button aria-label="Menu">
    <mat-icon>list</mat-icon>
  </button>
</nav>
<div class="container">
  <h1 class="title">Pokedex</h1>

  <ul class="pokemons">
    <li class="pokemon {{poke.color}}" *ngFor="let poke of pokemons" [routerLink]="['/pokedex', poke.name]">
      <span class="number">#{{poke.order.padStart(3,"0")}}</span>
      <span class="name">{{poke.name}}</span>
      <div class="detail">
        <ol class="types">
          <li *ngFor="let tp of poke.types">{{tp.type.name}}</li>
        </ol>
        <div>
          <img src={{poke.front_default}} alt="Pokemon">
        </div>
      </div>
    </li>
  </ul>
  <div class="pagination-box">
    <button [disabled]="offset == 0" (click)="previousPage()">
      Previous page
    </button>
    <button [disabled]="offset >= 400" (click)="nextPage()">Next page</button>
  </div>

  <ng-template #loading>
    <p>loading...</p>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>