.content {
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .content {
    width: 768px;
    margin: auto;
  }
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  list-style: none;
  padding-left: 0;

  .pokemon {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    margin: .5rem;
    padding: 1rem 1rem;
    background-color: #49d0b0;
    color: #FFF;
    border-radius: 1rem;
    height: fit-content;

    .number {
      align-self: self-end;
      font-size: 1.1rem;
      font-weight: bolder;
      color: #3e3e3e50;
    }

    .name {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .detail {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 5px;

      .types {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;

        li {
          font-weight: 500;
          width: fit-content;
          border: none;
          border-radius: 9999px;
          padding: 3px 10px;
          background: #ffffff50;
          list-style: none;
          margin: 0;
        }
      }
    }

    img {
      max-width: 100%;
      max-height: 100px;
    }
  }
}

@media screen and (min-width: 480px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .content {
    margin: 1rem auto;
  }

  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}