<section class="content">
  <h1>Pokedéx</h1>

  <ul class="pokemons">
    <li>
      <span class="number">#001</span>
      <span class="name">bulbasaur</span>
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
        alt="Pokemon">
    </li>
    <li>
      ivysaur
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/2.svg"
        alt="Pokemon">
    </li>
    <li>
      venusaur
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/3.svg"
        alt="Pokemon">
    </li>
    <li>
      charmander
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/4.svg"
        alt="Pokemon">
    </li>
    <li>
      charmeleon
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/5.svg"
        alt="Pokemon">
    </li>
    <li>
      charizard
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/6.svg"
        alt="Pokemon">
    </li>
  </ul>
</section>


<router-outlet></router-outlet>