.search-box {
  margin-bottom: 30px;

  .search-input {
    border-radius: 25px;
    width: 100%;
    border: none;
    padding: 10px 15px;
  }
}


.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.button {
  padding: 25px 0;
  border-radius: 12px;

  color: #fff !important;
  text-align: left;
}

.bg-green {
  background-color: #159F6E !important;
  box-shadow: 0 10px 14px -7px #159F6E;
}

.bg-yellow {
  background-color: #FFCE4B !important;
  box-shadow: 0 10px 14px -7px #FFCE4B;
}

.bg-red {
  background-color: #FB6C6C !important;
  box-shadow: 0 10px 14px -7px #FB6C6C;
}

.bg-brown {
  background-color: #B1736C !important;
  box-shadow: 0 10px 14px -7px #B1736C;
}

.bg-blue {
  background-color: #58AAF6 !important;
  box-shadow: 0 10px 14px -7px #58AAF6;
}

.bg-purple {
  background-color: #7C538C !important;
  box-shadow: 0 10px 14px -7px #7C538C;
}